<ul class="hd-nav-horizontal">
    <li>
        <CustomNavLink Href="/" Classes="hd-header-link" Match="NavLinkMatch.All">
            Trang chủ
        </CustomNavLink>
    </li>
    <li>
        <CustomNavLink Href="/products" Classes="hd-header-link">
            Sản phẩm
        </CustomNavLink>
    </li>
    <li>
        <CustomNavLink Href="/cart" Classes="hd-header-link">
            Giỏ hàng
        </CustomNavLink>
    </li>
    <li>
        <CustomNavLink Href="/login" Classes="hd-header-link">
            Đăng nhập
        </CustomNavLink>
    </li>
</ul>
